@import '../../../styles.scss';

.infos-contact-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 50px;
    flex-wrap: wrap;
}

.infos-contact-wrapper > div{
    display: flex;
    flex-direction: column;
    color: #464545;
    text-align: center;
    padding: 20px;
}

.title-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.icon{
    font-size: 100px;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    color: #9DB7DA;
}

.email{
    display: flex;
    flex-direction: column;
    align-items: center;
}