<div class="container">
  <h2 class="title">Contact</h2>
  <div class="infos-contact-wrapper">
    <div class="location">
      <div class="title-info">
        <mat-icon class="icon">map</mat-icon>
        <span style="font-weight: 500; font-size: 20px">Location</span>
      </div>
      <span>XXXX city</span>
      <span>X XXXXX street</span>
    </div>
    <div class="hours">
      <div class="title-info">
        <mat-icon class="icon">schedule</mat-icon>
        <span style="font-weight: 500; font-size: 20px">Hours</span>
      </div>
      <span>Open 7/7 from 8am-10pm</span>
      <span></span>
    </div>
    <div class="email">
      <mat-icon class="icon">mail</mat-icon>
      <span>laundry@fake.com</span>
    </div>
  </div>
</div>
