<div class="hero-wrapper">
  <div class="bg-wrapper">
    <img [src]="heroBg" alt="hero background" />
    <div class="bg-color"></div>
  </div>
  <div class="jumbotron-wrapper">
    <div class="jumbotron">
      <h1 id="title-h1">Your favorite laundry</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nulla quia
        ea sint iure commodi aut, ipsa quibusdam explicabo
      </p>
      <a href="#toServices">
        <button>Let's start</button>
      </a>
    </div>
  </div>
</div>
