.toTop{
    background-color: #023C66;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: -100px;
    right: 20px;
    transition: all 1s ease-out;
    opacity: 0;
}

.showed{
    opacity: 1;
    bottom: 20px;
}